{% extends 'portal_base.html' %}


{% block content %}

    <form id="forgot_form" class="form-horizontal" action="{% url 'forgot-password' %}" method="post">

        {% csrf_token %}

        <div class="row">
            <div class="col-xs-12">
                {{ forgot_form }}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <input class="btn btn-primary form-control" type="submit" name="submit" value="Send">
            </div>
        </div>

    </form>

    <div class="row">
        <div class="col-xs-12">
            <p>
                If you've forgotten your password, please enter the email address associated with your account in the form
                above. We will send you an email with a link to reset your password.
                <a href="{% url 'login' %}">Return to Login</a>
            </p>
        </div>
    </div>

{% endblock %}