{% extends 'portal_base.html' %}


{% block content %}


    <form id="reset_password_form" method="post" action="">

        {% csrf_token %}

        <h2>Password Reset</h2>

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="row">
                    <div class="col-xs-12">
                        {{ error }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <div class="row">
            <div class="col-xs-12">
                <label for="id_new_password1">New Password<span class="field_error">{{ form.new_password1.errors }}</span></label>
                {{ form.new_password1 }}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <label for="id_new_password2">Confirm New Password<span class="field_error">{{ form.new_password2.errors }}</span></label>
                {{ form.new_password2 }}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <input class="btn btn-primary form-control" type="submit" name="submit" value="Update Password">
            </div>
        </div>

    </form>

{% endblock %}